@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}
.signup{
    background-color:#047857;
    height:80px;
    width:100px;
    border-radius: 50px;
    border:none;
    padding:15px;
}
.signup:hover{
    background-color:white;
    color:teal;
    animation:  0.2s linear ease;
}
