.signup{
    background-color: teal;
    height:80px;
    width:100px;
    border-radius: 50px;
    border:none;
    padding:15px;
}
.signup:hover{
    background-color:white;
    color:teal;
    animation:  0.2s linear ease;
}